################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Amortization/v15/Server/sqlite3
/Amortization/bin
/Amortization/obj
/.vs/Amortization
/.vs/v15
