ion-content {
    --ion-background-color: #4b4b4b ;
    color:white;
    font-size: small;
}
ion-header {
    --ion-background-color: #4b4b4b ;
    font-size: small;
}
ion-title{
    color:#fff;
}
ion-label{
    color:#fff !important;
}
ion-input{
    color:#fff !important;
}
ion-datetime{
    color:#fff !important;
}
ion-list-header{
    color:#fff !important;
}
ion-select{
    color:#fff !important;
}
ion-item.combolist{
    width: 500px !important;
}
.button-native{
    color:#fff;
}