<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    <ion-grid>
      <ion-row>
        <ion-col  size-lg="1" size-md="2" size-sm="2" size-xs="3" *ngFor="let amortization of listAmortization">
          <div>
            <ion-button class="listAmortization" color="secondary" (click)="loadListAmortizationIdpdf(amortization.AmortizationName)">
            <span >{{amortization.AmortizationName}}</span>
          </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="openAmortizationModal(-1)">
            new
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
