<ion-content class="content"  padding>
  <form #form="ngForm" (ngSubmit)="login(form)" >
    <ion-grid >
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <br/><br/><br/><br/>
          <div text-center >
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="or" padding>
            <span class="span"><b>OR</b></span>
          </div>
          <div >
            <ion-button size="large" type="submit" [disabled]="form.invalid" class="normal" expand="block"><span>Login</span></ion-button>
          </div>
          <div >
            <ion-button size="large" (click)="facebookLogin()" type="button" class="face" expand="block">Login with Facebook</ion-button>
          </div>
          <div >
            <ion-button size="large" (click)="gmailLogin()" type="button" class="google" expand="block">Login with Google</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row >        
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer style="background-color: #7d93a6;">
  <div class="or" padding>
    <span class="span"><b>NEED AN ACCOUNT?</b></span> 
  </div>
  <div class="or">
    <ion-button><a routerLink='/register'>Sign Up Now</a></ion-button>
  </div>
</ion-footer>
