ion-item{
    --background: #4b4b4b;
    --color: #fff;
}
ion-button.normal{
    --background: #008035;
    font-size: small;
    color: #fff;
}
ion-button.face{
    --background: #062f77;
    font-size: small;
}
ion-button.google{
    --background: #c71239;
    font-size: small;
}
a{
    color: #fff;
}
ion-content {
    --ion-background-color: #4b4b4b ;
    font-size: small;
}
span.span{
    text-align: center;
    color:white;
    
}
div.or{
    text-align: center;
}
ion-footer {
    --ion-background-color: #4b4b4b ;
    font-size: small;
}
ion-item.buttons{
    align-content: center;
}
.left-img{
    position:absolute;
    left: 0;
    right: 30%;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}

.right-img{
    position:absolute;
    left: 30%;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}